.profile-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    overflow: hidden;
    background-image: url('/Tampilan Web/image/login.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .profile-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 5px;
    width: 900px;
  }
  
  .profile-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
  
  .profile-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

